# ------------------------------------
# 1. Variáveis de Ambiente (Segurança)
# ------------------------------------
.env
.env.*
*.env

# ------------------------------------
# 2. Ambientes Virtuais (Peso extra)
# ------------------------------------
venv/
env/
.venv/

# ------------------------------------
# 3. Arquivos Compilados do Python
# ------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------------
# 4. Logs e Bancos de Dados Locais
# ------------------------------------
*.log
*.sqlite3

# ------------------------------------
# 5. Configurações da sua IDE (VS Code)
# ------------------------------------
.vscode/
.idea/

# ------------------------------------
# 6. Lixo do Sistema Operacional
# ------------------------------------
.DS_Store
Thumbs.db